.gender-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px; 

    .gender-item {
        width: calc( 50% - 20px);
        height: 50px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #101010;
    }
}