.login-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        color: #464646;
    
        .login-message {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
    
            .appname {
                padding: 10px;
                font-size: 45px;
            }
    
            .message {
                font-size: 20px;
            }
        }
    
        .login-button {
            width: 100%;
            padding: 20px;
            height: auto;
    
            .btn {
                margin-top: 10px;
                width: 100%;
                height: 45px;
                background-color: #cd4851;
                color: white;
            }
        }
    }
}







.account-info {
    width: 100%;
    height: 150px;
    background-color: #0a0a0a;

    .account-picture {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
    }

    .account-name {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 30px;
            font-weight: bold;
            color: white;

        }
    }
}

.account-menu {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .menu-item {
        padding: 5px 10px;
        border-bottom: 3px solid black;

        span {
            color: white;
            font-size: 13px;
            font-weight: 700;
        }
    }

    .active {
        border-bottom: 3px solid #cd4851;
    }
}

.menu-content {
        width: 100%;
        height: auto;
        padding: 10px;
    .user-list-content {
        .list {
            width: 100%;
            height: calc(50vw - 20px);
            background-color: #353535;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            margin-bottom: 10px;

            .title {
                color: white;
                font-size: 25px;
            }

            .sub-title {
                color: white;
            }
        }
    }

    .user-watchlist-content {
        .watchlist-item {
            width: 100%;
            padding: 10px;
            background-color: #353535;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;

            .item-image {
                width: 50px;
                height: 76px;
                border-radius: 10px;
                overflow: hidden;
            }

            .title {
                color: white;
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
}