<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="film"></ion-icon>
    </ion-tab-button>

     <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
