

.back-button-content {
    color: #cd4851;
    width: 44px;
    height: 44px;
    font-size: 1.85em;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;    
}

.content {
    color: white;
    padding-bottom: 20px;
    
    .movie-header {
        width: 100%;
        height: 100%;
        position: relative;
        .movie-backdrop-image {
            position: relative; //top: -3vw;
            width: 100vw;
            height: 56vw;
            border-radius: 0;
        }
        .movie-poster {
            position: absolute;
            bottom: -20vw;
            height: 39vw;
            left: 20px;
            box-shadow: 0px 0 10px 2px #383636;
            img {
                width: 26vw;
                height: 39vw;
                z-index: 4;
            }
        }
        
        .movie-rating {
            position: absolute;
            right: 10px;
            height: 44px;
            width: 44px;
            background-color: #0000004d;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 21px;
            font-weight: 600;
            bottom: 10px;
        }
    }
    .movie-info {
        
        .movie-title {
            height: 20vw;
            padding-left: calc(31vw + 10px);
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: #cd4851;
                font-size: calc(0.6em + 3vw);
                font-weight: 600;

                .movie-year {
                    font-size: 13px;
                }
            }
        }

        .movie-info-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            margin-bottom: 0px;
            font-size: 0.9em;
            color: #b1b1b1;

            .movie-runtime {
                display: flex;
                justify-content: center;
                align-items: center;

                ion-icon {
                    margin-right: 5px;
                }
            }


        }

        .movie-user-actions {
            width: 100%;
            height: 45px;
            display: flex;
            color: white;
            font-size: 30px;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: space-between;
            align-items: center;
            
            ion-icon {
                padding: 10px;
            }

            .favorited {
                color: #cd4851;
            }

            .selected {
                color: #ffd31a;
            }
        }

        .second-movie-user-actions {
            display: flex;
            padding: 10px 0px;            
            background-color: #0a0a0a;
            border-bottom: 3px solid #cd4851;
            
            .movie-rate {
                padding: 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                width: 50%; 
                border-right: 1px solid #b1b1b1;

                ion-icon {
                    padding-left: 5px;

                    &:first-child {
                        padding-left: 0px;
                    }
                }

                .active {
                    color: #cd4851;
                }
            }

            .movie-play {
                padding: 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 21px;
                width: 50%;
                border-left: 1px solid #b1b1b1;
            }
        }

        .overview {
            padding: 20px 20px 20px 20px;

            .title {
                font-size: 21px;
                font-weight: 600;
            }
            .text {
                font-size: 1em;
                line-height: 1.4em;
                color: #b1b1b1;
            }
        }
        .cast-and-crew {
            padding: 30px 20px 20px 20px;
            .title {
                font-size: 21px;
                font-weight: 600;
            }
            .cast-list {
                display: flex;
                overflow-x: scroll;
                overflow-y: hidden;

                .cast-item {
                    width: 120px;
                    height: 170px;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-right: 10px;

                    .cast-photo {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        

                        img {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }

                    .cast-info {
                        width: 120px;
                        height: 120px;
                        margin-top: 10px;
                        text-align: center;
                        overflow: hidden;

                        .cast-name {
                            font-size: 13px;
                            font-weight: bold;
                        }

                        .cast-character {
                            font-size: 12px; 
                            font-weight: 300;
                            color: #b1b1b1;
                        }
                    }
                }
                
            }
        }

        .similar-movies {
            padding: 30px 20px 20px 20px;
            .title {
                font-size: 21px;
                font-weight: 600;
            }            
            .content {
                display: flex;
                overflow-x: scroll;
                overflow-y: hidden;

                .movie {
                    width: 110px;
                        height: 160px;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-right: 10px;

                    .movie-poster {
                        width: 100px;
                        height: 150px;
                        
                        img {
                            width: 100px;
                            height: 150px;
                        }
                    }
                    
                }
            }
        }

    }
    /* .movie-header {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: #cd4851;
            font-size: 17px;
            font-weight: bold;
        }
    }

    .movie-poster {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
        }
    } */
}