 <ion-header translucent>
  <ion-toolbar translucent style="--background: #ffffff00;">
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 

  <loading-icon *ngIf="!movie"></loading-icon>

  <div *ngIf="movie" class="content">

    <div class="movie-header">
      <div class="movie-backdrop-image">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}"
          onError="this.src = '../assets/images/no-image-path.png'" />
      </div>

      <div class="movie-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
          onError="this.src = '../assets/images/no-image-poster.png'" />
      </div>

      <div class="movie-rating">
        <span>{{movie.vote_average}}</span>
      </div>
    </div>

    <div class="movie-info">
      <div class="movie-title">
        <span>{{movie.title}}
          <span class="movie-year">({{movie.release_date | date: 'yyyy'}})</span>
        </span>
      </div>

      <div class="movie-info-type">
        <div class="movie-runtime">
          <ion-icon name="time"></ion-icon>
          <span>{{movie.runtime}} min</span>
        </div>
        <div class="movie-genres">
          <span *ngFor="let genre of movie.genres">{{genre.name}}&nbsp;</span>
        </div>
      </div>

      <div class="movie-user-actions">
        <ion-icon name="list" (click)="addMovieToList()"></ion-icon>
        <ion-icon [ngClass]="{'favorited': isFavorite}" name="heart" (click)="likeMovie()"></ion-icon>
        <ion-icon [ngClass]="{'selected': isOnWatchlist}" name="bookmark" (click)="addMovieToWatchList()"></ion-icon>
        <ion-icon name="share" (click)="shareMovie()"></ion-icon>
      </div>

      <div class="second-movie-user-actions">
        <div class="movie-rate">
          <ion-icon name="star" 
          *ngFor="let i of [1,2,3,4,5];" 
          [ngClass]="{'active': rate >= i}"
          (click)="rateMovie(i)"
          ></ion-icon>
        </div>

        <div class="movie-play" (click)="showMovieTrailer();">
          <ion-icon name="play"></ion-icon>
          <span>Trailer</span>
        </div>
      </div>

      <div class="overview">
        <div class=title>
          <span class="title">Overview</span>
        </div>
        <div class="text">
          <p>{{movie.overview}}</p>
        </div>
      </div>
      <div class="cast-and-crew">
        <div class=title>
          <span class="title">Cast&Crew</span>
        </div>
        <div class="cast-list" *ngIf="castList">
          <div class="cast-item" *ngFor="let item of castList">
            <div class="cast-photo">
              <img src="https://image.tmdb.org/t/p/w500/{{item.profile_path}}" *ngIf="item.profile_path" />
            </div>
            <div class="cast-info">
              <span class="cast-name">{{item.name}}</span> <br />
              <span class="cast-character">{{item.character}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="similar-movies">
        <div class=title>
          <span class="title">Similar Movies</span>
        </div>
        <div class="content">
          <div class="movie" *ngFor="let movie of similarMovies">
            <div class="movie-poster">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                [routerLink]="['/tabs/home/movie-detail/', movie.id]" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>