<ion-header>
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="segment-content">
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'latest'}" (click)="getMovies('latest');">
      <span>Latest</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'popular'}" (click)="getMovies('popular');">
      <span>Popular</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'topRated'}" (click)="getMovies('topRated');">
      <span>Top Rated</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'nowPlaying'}" (click)="getMovies('nowPlaying');">
      <span>Now Playing</span>
    </div>
  </div>

  <div class="movie-poster-card">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" *ngFor="let movie of movieList | async"  [routerLink]="['/tabs/home/movie-detail/', movie.id]" />
  </div> 
    
</ion-content>
