<ion-header>
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="segment-content">
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'popular'}" (click)="changeCategory('popular');">
      <span>Popular</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'topRated'}" (click)="changeCategory('topRated');">
      <span>Top Rated</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'nowPlaying'}" (click)="changeCategory('nowPlaying');">
      <span>Now Playing</span>
    </div>
    <div class="category-content" [ngClass]="{'active': selectedCategory == 'upcoming'}" (click)="changeCategory('upcoming');">
      <span>Upcoming</span>
    </div>
  </div>

  <loading-icon *ngIf="!isDataLoaded"></loading-icon>
  
  <div class="movie-poster-card">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" *ngFor="let movie of movieList"  [routerLink]="['/tabs/home/movie-detail/', movie.id]" />
  </div> 


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreMovies()">
    <ion-infinite-scroll-content
      loadingSpinner="circles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    
</ion-content>
