<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="segment-content" >
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="getMovies()">
      <ion-segment-button value="latest" >
        <ion-label>Latest</ion-label>
      </ion-segment-button>
      <ion-segment-button value="popular" >
        <ion-label>Top Rated</ion-label>
      </ion-segment-button>
      <ion-segment-button value="topRated" >
        <ion-label>Top Rated</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nowPlaying" >
        <ion-label>Now Playing</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming" >
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-card *ngFor="let movie of movieList | async">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" />
    <ion-card-header>
      <ion-card-title>{{movie.title}}</ion-card-title>
      <ion-card-subtitle>{{movie.popularity}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{movie.overview}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
