
.segment-content {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .category-content {
        padding: 5px 10px;
        border-bottom: 3px solid black;

        span {
            color: white;            
            font-size: 13px;
            font-weight: 700;
        }
    }
    .active {
        border-bottom: 3px solid #cd4851;
    }
}

ion-card {
    background-color: white;
    --background: white;
    border: none;
}

.movie-poster-card {
    border-radius: 5px;
    padding: 5px; 
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    img {
        display: block;
        min-width: calc( 50vw - 30px);
        min-height: calc( 75vw - 30px);
        width: calc( 50vw - 30px);
        height: calc( 75vw - 30px);
        border-radius: 10px;
        margin: 10px;
        
    }
}

ion-infinite-scroll {
    color: #cd4851;
    --color: #cd4851;
}
